DB_HOST=localhost
DB_PORT=5432
DB_NAME=credit_risk
DB_USER=postgres
DB_PASSWORD=yourpassword
CSV_PATH=data/raw_credit_data.csv
TABLE_NAME=credit_risk_raw

GCP_PROJECT_ID=your-project-id
GCS_BUCKET_NAME=credit-risk-lake-yourname
BQ_DATASET=credit_risk_dw